
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
/*	border: none !important;*/
}

/*	GENERAL */

body {
	font-family: "Roboto", sans-serif;
}

section{
	margin-bottom: 60px;
}

h1 {
	color: #595757;
	font-size: 50px;
	margin-bottom: 15px;
	text-align: left;
}

h3 {
	color: #6C9497;
	text-decoration: underline;
	margin-bottom: 15px;
	padding-bottom: 1px;
	font-size: 22px;
}

h4 {
	color: #595757;
	text-transform: uppercase;
	font-size: 16px;
}

h5 {
	color: #fff;
	font-size: 16px;
}

h6 {
	font-size: 16px;
	color: #595757;
}

ul {
	padding-left: 22px;
}

li {
	color: #737373;

	margin-left: 16px;
}

ul li:last-child {
	margin-bottom: 20px;
}

i {
	font-size: 20px;
}

hr {
	height: 1px;
	margin-left: auto;
	margin-right: auto;
	border: none;
	margin-bottom: 20px;
}

a {
	color:#558f94;
}

p, 
li {
	font-size: 18px;
}
/* REUSABLE ELEMENTS*/

.button {
	background-color: #98c4c7;
	color: #fff;
	text-decoration: none;
	font-size: 16px;
	font-weight: 600;
	padding: 10px 20px;
	display: inline-block;
	border-radius: 5px;
	transition: 0.4s;
	margin-bottom: 20px;
	text-align: center;
}

.button:hover {
	background-color: #6C9497;
	text-decoration: underline;
}

.container {
	margin-left: auto;
	margin-right: auto;
	/* max-width: 800px; */
 	/* border: 1px dashed blue; */
}

.page-parent-flex {
	display: flex;
/*  border: 1px dashed black;*/
} 

.header {
	display: flex;
	gap: 10px;
	align-items: center;
	margin-bottom: 10px;
}

.header i{
	color: #595757
}

/* LEFT SIDE OF PAGE */ 

.page-left-side {
	background-color: #98c4c7;
	padding: 40px;
	width: 300px;
}

.page-left-side h2 {
	color: #fff;
}

.page-left-side p {
	color: #fff;
}

.page-left-side a{
	color: #ffffff;
}

.sub-parent-flex {
	display: flex;
	gap: 30px;
	align-items: center;
	margin-bottom: 20px;
}    

.img-decoration {
	height: 85px;
	margin-bottom: 40px;
}

.img-holder {
	align-content: center;
}

.icon {
	height: 24px;
}

.page-left-side hr {
	background-color: #fff;
}

.page-left-side i {
	color: #ffffff;
}

.page-left-side li {
	color: #fff;
	padding-left: 16px;
	margin-left: 16px;
	margin-bottom: 10px;
}

.technical h3 {
	color: #fff;
	text-decoration: none;
	font-size: 16px;
}

/* publications and presentations */

.presentations h3 {
	color: #ffffff;
}

.publication-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.publication-list li {
    margin-bottom: 15px;
	padding-left: 0;
    margin-left: 0;
    text-indent: 0;
}

.publication-list li:last-child {
    margin-bottom: 40px;
}

.publication-list .title {
    font-weight: bold;
    font-size: 18px;
    color: #ffffff;
}

.publication-list .details {
    font-size: 16px;
    color: #feffff;
}

.publication-list .details .type {
    font-weight: bold;
    color: rgb(245, 245, 245);
}

.publication-list .details .journal {
    font-style: italic;
    color: #e6f2f3;
}

.publication-list .details .contributors {
    color: #b0c4c5;
}

.publication-list .details .role {
    color: #feffff;
}

.publication-list .details .date {
    font-weight: lighter;
    color: #ffffff;
}

.publication-list a {
    display: inline-block;
    font-size: 0.875rem;
    color: #ffdf91;
    margin-top: 5px;
}

.publication-list a:hover {
    text-decoration: underline;
    color: #ffebc0;
}

/* RIGHT SIDE OF PAGE */

/* timeline */
.work-timeline{
	border-left: 3px solid #909090;
	padding-left: 40px;
}
.job-card:before{
	position: absolute;
	content: '';
	width: 18px;
	height: 18px;
	border-radius: 50%;
	border: 3px solid #909090;
	background-color: #ffffff;
	left: -54px;
}
.job-card{
	position: relative;
}

/* content */
.page-right-side {
	padding: 40px;
	line-height: 1.5;
	text-align: justify;
}

.job-desc {
	margin-bottom: 22px;
}

.sub-heading {
	background-color: #e9e9e9;
	padding: 2px 8px;
	margin-bottom: 15px;
}

.sub-heading-flex{
	display: flex;
	gap: 10px;
	align-items: center
}

.sub-heading hr{
	height: 20px;
	width: 2px;
	color:#595757;
	margin: 0;
}

.page-right-side h2 {
	color: #595757;
}

.page-right-side p {
	color: #737373;
}

.page-right-side hr {
	background-color: #595757;
}

/* .page-right-side i {
	color: #595757;
	height: 1;
} */

.fa-arrow-right{
	color: #558f94;
	font-size: 14px;
}


/* projects */

.skills-dflex{
	display: flex;
	gap: 30px;
	align-items: center;
	margin-bottom: 20px;
}

.bold-text {
	font-weight: 800;
}

.skills-dflex p{
	font-style: italic;
	font-weight: 300;
	font-size: 20px;
	color: #4d4d4d;
}

.project-desctiption{
	margin-bottom: 10px;
}

@media screen and (max-width: 992px) {
	.page-parent-flex {
		flex-direction: column;
	} 

	.page-left-side {
		width: 100%;
	}
	
}

@media print {

    .page-break-media {
        page-break-before: always;
        padding-top: 50px;
    }

	.media-margin {
		margin-bottom: 20px;
	}
}
